/*GLOBAL STYLES*/

main {
    
}

body{
    
}

footer {
    background-color: #FF7900;
    height:300px;
    text-align:center;
    padding:40px;
}

h1 {
    
}

header{
    background
    
}

p {
    
}

a {
    
}


/*BUTTON STYLES*/

.button {
    background-color:#FF7900; 
    padding:15px 22px;
    border-radius:6px;
    color:#FFFFFF;
    text-decoration:none;
}

.button:hover {
    background-color:#FF0099;
}



